In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('./AmesHousing.csv')

In [3]:
data.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

## Reveal the statistical information about the numeric attributes

In [4]:
data.describe()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2907 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

## Handling duplicate values

In [6]:
data = data.drop_duplicates()

In [7]:
continuous_columns = data.select_dtypes(include=['int64', 'float64'])

In [8]:
continuous_columns_names = continuous_columns.columns.tolist()

In [9]:
cor_df = continuous_columns.corr()

In [10]:
cor_df['SalePrice'][0]

-0.0314079252528075

In [11]:
column_index_del = []
for i in range(0,39):
    if (cor_df['SalePrice'][i]>0.50 or cor_df['SalePrice'][i]<-0.15):
        pass
    else:
        column_index_del.append(i)
column_index_del = column_index_del[:-1]

In [12]:
num_col_considered = continuous_columns.drop(continuous_columns.columns[column_index_del], axis=1)
y = data['SalePrice']
X = num_col_considered
X.head()

,PID,Overall Qual,Year Built,Year Remod/Add,Mas Vnr Area,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,Garage Yr Blt,Garage Cars,Garage Area,Yr Sold,SalePrice
0,526301100,6,1960,1960,112.0,1080.0,1656,1656,1,1960.0,2.0,528.0,2010,215000
1,526350040,5,1961,1961,0.0,882.0,896,896,1,1961.0,1.0,730.0,2010,105000
2,526351010,6,1958,1958,108.0,1329.0,1329,1329,1,1958.0,1.0,312.0,2010,172000
3,526353030,7,1968,1968,0.0,2110.0,2110,2110,2,1968.0,2.0,522.0,2010,244000
4,527105010,5,1997,1998,0.0,928.0,928,1629,2,1997.0,2.0,482.0,2010,189900

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 2929
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PID             2930 non-null   int64
 1   Overall Qual    2930 non-null   int64
 2   Year Built      2930 non-null   int64
 3   Year Remod/Add  2930 non-null   int64
 4   Mas Vnr Area    2907 non-null   float64
 5   Total Bsmt SF   2929 non-null   float64
 6   1st Flr SF      2930 non-null   int64
 7   Gr Liv Area     2930 non-null   int64
 8   Full Bath       2930 non-null   int64
 9   Garage Yr Blt   2771 non-null   float64
 10  Garage Cars     2929 non-null   float64
 11  Garage Area     2929 non-null   float64
 12  Yr Sold         2930 non-null   int64
 13  SalePrice       2930 non-null   int64
dtypes: float64(5), int64(9)
memory usage: 343.4 KB

## Handling missing values

In [14]:
mean_values = round(X.mean(),2)
mean_values

PID               7.144645e+08
Overall Qual      6.090000e+00
Year Built        1.971360e+03
Year Remod/Add    1.984270e+03
Mas Vnr Area      1.019000e+02
Total Bsmt SF     1.051610e+03
1st Flr SF        1.159560e+03
Gr Liv Area       1.499690e+03
Full Bath         1.570000e+00
Garage Yr Blt     1.978130e+03
Garage Cars       1.770000e+00
Garage Area       4.728200e+02
Yr Sold           2.007790e+03
SalePrice         1.807961e+05
dtype: float64

In [15]:
X.fillna(mean_values,inplace = True)

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 2929
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PID             2930 non-null   int64
 1   Overall Qual    2930 non-null   int64
 2   Year Built      2930 non-null   int64
 3   Year Remod/Add  2930 non-null   int64
 4   Mas Vnr Area    2930 non-null   float64
 5   Total Bsmt SF   2930 non-null   float64
 6   1st Flr SF      2930 non-null   int64
 7   Gr Liv Area     2930 non-null   int64
 8   Full Bath       2930 non-null   int64
 9   Garage Yr Blt   2930 non-null   float64
 10  Garage Cars     2930 non-null   float64
 11  Garage Area     2930 non-null   float64
 12  Yr Sold         2930 non-null   int64
 13  SalePrice       2930 non-null   int64
dtypes: float64(5), int64(9)
memory usage: 343.4 KB

In [17]:
col_x_list = X.columns.tolist()
for i in col_x_list:
    X[i] = np.log1p(X[i])
X.head()

,PID,Overall Qual,Year Built,Year Remod/Add,Mas Vnr Area,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,Garage Yr Blt,Garage Cars,Garage Area,Yr Sold,SalePrice
0,20.081384,1.945910,7.581210,7.581210,4.727388,6.985642,7.412764,7.412764,0.693147,7.581210,1.098612,6.270988,7.606387,12.278398
1,20.081477,1.791759,7.581720,7.581720,0.000000,6.783325,6.799056,6.799056,0.693147,7.581720,0.693147,6.594413,7.606387,11.561725
2,20.081479,1.945910,7.580189,7.580189,4.691348,7.192934,7.192934,7.192934,0.693147,7.580189,0.693147,5.746203,7.606387,12.055256
3,20.081483,2.079442,7.585281,7.585281,0.000000,7.654917,7.654917,7.654917,1.098612,7.585281,1.098612,6.259581,7.606387,12.404928
4,20.082910,1.791759,7.599902,7.600402,0.000000,6.834109,6.834109,7.396335,1.098612,7.599902,1.098612,6.180017,7.606387,12.154258

## Applying Min-Max-Scaler

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
columns_to_scale = X.columns.tolist()
X[columns_to_scale] = scaler.fit_transform(X[columns_to_scale])
print(X)

           PID  Overall Qual  Year Built  Year Remod/Add  Mas Vnr Area  \
0     0.000000      0.734867    0.645839        0.168784      0.640708
1     0.000143      0.644443    0.653010        0.185615      0.000000
2     0.000146      0.734867    0.631485        0.135096      0.635823
3     0.000152      0.813196    0.703107        0.303193      0.000000
4     0.002352      0.644443    0.908772        0.802409      0.000000
...        ...           ...         ...             ...           ...
2925  0.866088      0.734867    0.816949        0.570380      0.000000
2926  0.866090      0.644443    0.809861        0.553744      0.000000
2927  0.866297      0.644443    0.873527        0.703168      0.000000
2928  0.867464      0.644443    0.745906        0.420354      0.000000
2929  0.867549      0.813196    0.880583        0.736281      0.617192

      Total Bsmt SF  1st Flr SF  Gr Liv Area  Full Bath  Garage Yr Blt  \
0          0.801304    0.587284     0.566080   0.430677       0.221268
1          0.778096    0.361828     0.348765   0.430677       0.224615
2          0.825082    0.506526     0.488238   0.430677       0.214570
3          0.878074    0.676242     0.651827   0.682606       0.247993
4          0.783922    0.374705     0.560263   0.682606       0.343968
...             ...         ...          ...        ...            ...
2925       0.792827    0.403227     0.388669   0.430677       0.301118
2926       0.775734    0.364277     0.351125   0.430677       0.297810
2927       0.781929    0.390949     0.376835   0.430677       0.281677
2928       0.830143    0.522736     0.503863   0.430677       0.271288
2929       0.792025    0.400657     0.632878   0.682606       0.330813

      Garage Cars  Garage Area  Yr Sold  SalePrice
0        0.613147     0.858350      1.0   0.691991
1        0.386853     0.902620      1.0   0.516252
2        0.386853     0.786520      1.0   0.637274
3        0.613147     0.856789      1.0   0.723018
4        0.613147     0.845899      1.0   0.661550
...           ...          ...      ...        ...
2925     0.613147     0.873056      0.0   0.591136
2926     0.613147     0.846464      0.0   0.570503
2927     0.000000     0.000000      0.0   0.572367
2928     0.613147     0.826442      0.0   0.634405
2929     0.773706     0.886755      0.0   0.659085

[2930 rows x 14 columns]

## Handling Outliers

In [19]:
from scipy import stats
z_scores = stats.zscore(X)
threshold = 3
X = X[(z_scores < threshold).all(axis=1)]
X

,PID,Overall Qual,Year Built,Year Remod/Add,Mas Vnr Area,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,Garage Yr Blt,Garage Cars,Garage Area,Yr Sold,SalePrice
0,0.000000,0.734867,0.645839,0.168784,0.640708,0.801304,0.587284,0.566080,0.430677,0.221268,0.613147,0.858350,1.0,0.691991
1,0.000143,0.644443,0.653010,0.185615,0.000000,0.778096,0.361828,0.348765,0.430677,0.224615,0.386853,0.902620,1.0,0.516252
2,0.000146,0.734867,0.631485,0.135096,0.635823,0.825082,0.506526,0.488238,0.430677,0.214570,0.386853,0.786520,1.0,0.637274
3,0.000152,0.813196,0.703107,0.303193,0.000000,0.878074,0.676242,0.651827,0.682606,0.247993,0.613147,0.856789,1.0,0.723018
4,0.002352,0.644443,0.908772,0.802409,0.000000,0.783922,0.374705,0.560263,0.682606,0.343968,0.613147,0.845899,1.0,0.661550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,0.866088,0.734867,0.816949,0.570380,0.000000,0.792827,0.403227,0.388669,0.430677,0.301118,0.613147,0.873056,0.0,0.591136
2926,0.866090,0.644443,0.809861,0.553744,0.000000,0.775734,0.364277,0.351125,0.430677,0.297810,0.613147,0.846464,0.0,0.570503
2927,0.866297,0.644443,0.873527,0.703168,0.000000,0.781929,0.390949,0.376835,0.430677,0.281677,0.000000,0.000000,0.0,0.572367
2928,0.867464,0.644443,0.745906,0.420354,0.000000,0.830143,0.522736,0.503863,0.430677,0.271288,0.613147,0.826442,0.0,0.634405
2929,0.867549,0.813196,0.880583,0.736281,0.617192,0.792025,0.400657,0.632878,0.682606,0.330813,0.773706,0.886755,0.0,0.659085

In [20]:
categorical_columns = data.select_dtypes(include=['object'])

## Conversion of categorical data into continous

In [21]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()
df_encoded = categorical_columns.copy()
lis = categorical_columns.columns.tolist()
df_encoded[lis] = encoder.fit_transform(categorical_columns[lis])
print(df_encoded)

      MS Zoning  Street  Alley  Lot Shape  Land Contour  Utilities  \
0           5.0     1.0    NaN        0.0           3.0        0.0
1           4.0     1.0    NaN        3.0           3.0        0.0
2           5.0     1.0    NaN        0.0           3.0        0.0
3           5.0     1.0    NaN        3.0           3.0        0.0
4           5.0     1.0    NaN        0.0           3.0        0.0
...         ...     ...    ...        ...           ...        ...
2925        5.0     1.0    NaN        0.0           3.0        0.0
2926        5.0     1.0    NaN        0.0           2.0        0.0
2927        5.0     1.0    NaN        3.0           3.0        0.0
2928        5.0     1.0    NaN        3.0           3.0        0.0
2929        5.0     1.0    NaN        3.0           3.0        0.0

      Lot Config  Land Slope  Neighborhood  Condition 1  ...  Garage Type  \
0            0.0         0.0          15.0          2.0  ...          1.0
1            4.0         0.0          15.0          1.0  ...          1.0
2            0.0         0.0          15.0          2.0  ...          1.0
3            0.0         0.0          15.0          2.0  ...          1.0
4            4.0         0.0           8.0          2.0  ...          1.0
...          ...         ...           ...          ...  ...          ...
2925         1.0         0.0          14.0          2.0  ...          5.0
2926         4.0         1.0          14.0          2.0  ...          1.0
2927         4.0         0.0          14.0          2.0  ...          NaN
2928         4.0         1.0          14.0          2.0  ...          1.0
2929         4.0         1.0          14.0          2.0  ...          1.0

      Garage Finish  Garage Qual  Garage Cond  Paved Drive  Pool QC  Fence  \
0               0.0          4.0          4.0          1.0      NaN    NaN
1               2.0          4.0          4.0          2.0      NaN    2.0
2               2.0          4.0          4.0          2.0      NaN    NaN
3               0.0          4.0          4.0          2.0      NaN    NaN
4               0.0          4.0          4.0          2.0      NaN    2.0
...             ...          ...          ...          ...      ...    ...
2925            2.0          4.0          4.0          2.0      NaN    0.0
2926            2.0          4.0          4.0          2.0      NaN    2.0
2927            NaN          NaN          NaN          2.0      NaN    2.0
2928            1.0          4.0          4.0          2.0      NaN    NaN
2929            0.0          4.0          4.0          2.0      NaN    NaN

      Misc Feature  Sale Type  Sale Condition
0              NaN        9.0             4.0
1              NaN        9.0             4.0
2              1.0        9.0             4.0
3              NaN        9.0             4.0
4              NaN        9.0             4.0
...            ...        ...             ...
2925           NaN        9.0             4.0
2926           NaN        9.0             4.0
2927           3.0        9.0             4.0
2928           NaN        9.0             4.0
2929           NaN        9.0             4.0

[2930 rows x 43 columns]

In [22]:
col_del = []
for i in range(43):
    if (df_encoded.isnull().sum()[i]>0):
        col_del.append(i)

In [23]:
cat_df = df_encoded.drop(df_encoded.columns[col_del], axis=1)

In [24]:
cat_df['y'] = y

In [25]:
cor_cat_df = cat_df.corr()

In [26]:
col_t_considered = []
for i in range(28):
    if(cor_cat_df['y'][i]>0.25 or cor_cat_df['y'][i]<-0.15):
        pass
    else:
        col_t_considered.append(i)

In [27]:
col_t_considered = col_t_considered[:-1]

In [28]:
cat_cols = cat_df.drop(cat_df.columns[col_t_considered],axis=1)
cat_cols

,Lot Shape,Roof Style,Exter Qual,Foundation,Heating QC,Central Air,Kitchen Qual,Paved Drive,Sale Condition,y
0,0.0,3.0,3.0,1.0,1.0,1.0,4.0,1.0,4.0,215000
1,3.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,105000
2,0.0,3.0,3.0,1.0,4.0,1.0,2.0,2.0,4.0,172000
3,3.0,3.0,2.0,1.0,0.0,1.0,0.0,2.0,4.0,244000
4,0.0,1.0,3.0,2.0,2.0,1.0,4.0,2.0,4.0,189900
...,...,...,...,...,...,...,...,...,...,...
2925,0.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,142500
2926,0.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,131000
2927,3.0,1.0,3.0,2.0,4.0,1.0,4.0,2.0,4.0,132000
2928,3.0,1.0,3.0,1.0,2.0,1.0,4.0,2.0,4.0,170000
2929,3.0,1.0,3.0,2.0,0.0,1.0,4.0,2.0,4.0,188000

In [29]:
X = pd.merge(X, cat_cols, left_index=True, right_index=True)

In [30]:
X.head()

,PID,Overall Qual,Year Built,Year Remod/Add,Mas Vnr Area,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,Garage Yr Blt,...,Lot Shape,Roof Style,Exter Qual,Foundation,Heating QC,Central Air,Kitchen Qual,Paved Drive,Sale Condition,y
0,0.000000,0.734867,0.645839,0.168784,0.640708,0.801304,0.587284,0.566080,0.430677,0.221268,...,0.0,3.0,3.0,1.0,1.0,1.0,4.0,1.0,4.0,215000
1,0.000143,0.644443,0.653010,0.185615,0.000000,0.778096,0.361828,0.348765,0.430677,0.224615,...,3.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,105000
2,0.000146,0.734867,0.631485,0.135096,0.635823,0.825082,0.506526,0.488238,0.430677,0.214570,...,0.0,3.0,3.0,1.0,4.0,1.0,2.0,2.0,4.0,172000
3,0.000152,0.813196,0.703107,0.303193,0.000000,0.878074,0.676242,0.651827,0.682606,0.247993,...,3.0,3.0,2.0,1.0,0.0,1.0,0.0,2.0,4.0,244000
4,0.002352,0.644443,0.908772,0.802409,0.000000,0.783922,0.374705,0.560263,0.682606,0.343968,...,0.0,1.0,3.0,2.0,2.0,1.0,4.0,2.0,4.0,189900

In [31]:
tot_data = pd.merge(X,y,left_index=True,right_index=True)
tot_data.head()

,PID,Overall Qual,Year Built,Year Remod/Add,Mas Vnr Area,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,Garage Yr Blt,...,Roof Style,Exter Qual,Foundation,Heating QC,Central Air,Kitchen Qual,Paved Drive,Sale Condition,y,SalePrice_y
0,0.000000,0.734867,0.645839,0.168784,0.640708,0.801304,0.587284,0.566080,0.430677,0.221268,...,3.0,3.0,1.0,1.0,1.0,4.0,1.0,4.0,215000,215000
1,0.000143,0.644443,0.653010,0.185615,0.000000,0.778096,0.361828,0.348765,0.430677,0.224615,...,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,105000,105000
2,0.000146,0.734867,0.631485,0.135096,0.635823,0.825082,0.506526,0.488238,0.430677,0.214570,...,3.0,3.0,1.0,4.0,1.0,2.0,2.0,4.0,172000,172000
3,0.000152,0.813196,0.703107,0.303193,0.000000,0.878074,0.676242,0.651827,0.682606,0.247993,...,3.0,2.0,1.0,0.0,1.0,0.0,2.0,4.0,244000,244000
4,0.002352,0.644443,0.908772,0.802409,0.000000,0.783922,0.374705,0.560263,0.682606,0.343968,...,1.0,3.0,2.0,2.0,1.0,4.0,2.0,4.0,189900,189900